@import "tailwindcss";

:root {
  --background: #0a0a0a;
  --foreground: #ededed;
  --pink-accent: #e912c2;
  --pink-accent-dark: #c00fa8;
  --pink-accent-light: #f045d4;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-pink-accent: var(--pink-accent);
  --color-pink-accent-dark: var(--pink-accent-dark);
  --color-pink-accent-light: var(--pink-accent-light);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}
